[user]
  name = "Matthew Rankin"
;[include]
  ;path = ~/.gitconfig.local
[color]
  ui = auto
[alias]
  st = status
  ac = !git add . && git commit -am
  ci = commit -v
  co = checkout
  cob = checkout -b
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
  l = log --oneline --graph --decorate
  ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  stash-unapply = !git stash show -p | git apply -R
  email = config user.email
[core]
  excludesfile = /Users/matthew/.gitignore
  editor = vim -f
[gui]
  recentrepo = /Users/matthew/development/python/cloneqsvn
[push]
  default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[credential]
	helper = osxkeychain
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[init]
	defaultBranch = main
[pull]
	rebase = false
