[user]
    name = Matthew Rankin
[color]
    ui = auto
[github]
    user = !cat ~/.github_user
    token = !cat ~/.github_token
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    unstage = reset HEAD --
    last = log -1 HEAD
    logp = log --oneline --graph
    stash-unapply = !git stash show -p | git apply -R
[core]
    excludesfile = /Users/matthew/.gitignore
[gui]
    recentrepo = /Users/matthew/development/python/cloneqsvn
