[user]
  name = "Matthew Rankin"
;[include]
  ;path = ~/.gitconfig.local
[color]
  ui = auto
[alias]
  st = status
  ci = commit -v
  co = checkout
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
  logp = log --oneline --graph
  stash-unapply = !git stash show -p | git apply -R
[core]
  excludesfile = /Users/matthew/.gitignore
  editor = vim -f
[gui]
  recentrepo = /Users/matthew/development/python/cloneqsvn
[push]
  default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[credential]
	helper = osxkeychain
